.footer {
    min-height: 250px;
    padding: 0 1rem;
    background: #005b90;
    box-shadow: 0 1px 1px 0 #f0f1f4;
    display:block;
    text-align: center;
}

.footer__logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-top: 35px;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__list-links{
    list-style: none;
    padding-bottom: 5px;  
}

.footer__list-links a{
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}


.footer__icons{
    height: 12px;
    padding: 0 5px;
}

.footer__title-media{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.footer__links-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer__links-media a{
    color: #ffffff;
    text-decoration: none;
}

.footer__list-links-media-item{
    width: 35px;
    height: 35px;
    padding: 5px;
}


@media (min-width: 992px) {
    .footer {
        padding: 0 10%;
        min-height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer__logo{
    padding: 10px;
    margin-left:60px;
    width: 170px;
    }

    .footer__box-logo, .footer__box-media, .footer__box-contact{
    display: flex;
    align-items: center;
    width: 30%;
    }
    
    .footer__list {
        display: flex;
        flex-direction: column;
        text-align: initial;
    }

    .footer__links-media{
        padding: 0;
    }
}